:root,  :root.light-colorful {
  color-scheme: light;
  --back-bg: #987578;
  --back-shadow: #684548;
  --body-edge: #BDE8F6;
  --body-bg: #9DC8D6;
  --body-shadow: #6D98A6;
  --antibody-edge: #7DA8B6;
  --antibody-bg: #4D7886;
  --header: #333;
  --antiheader: #DDD;
  --summary-edge: #FFE750;
  --summary-bg: #FFD700;
  --summary-shadow: #E7B700;
  --summary-color: black;
  --summary-link: darkgreen;
  --dialog-bg: #F8F8F8;
  --dialog-shadow: #C8C8C8;
  --error: red;
  --success-bg: #90ee90;
  --success-shadow: #60BE60;
  --link: darkgreen;
  --dark-grey-text: #646464;
  --light-grey-text: #bababa;
}

@font-face {
  font-family: "Apple Color Emoji";
  src: url("https://db.onlinewebfonts.com/t/5ab304ade0d4f62d027d12464ca69443.eot");
  src: url("https://db.onlinewebfonts.com/t/5ab304ade0d4f62d027d12464ca69443.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/5ab304ade0d4f62d027d12464ca69443.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/5ab304ade0d4f62d027d12464ca69443.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/5ab304ade0d4f62d027d12464ca69443.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/5ab304ade0d4f62d027d12464ca69443.svg#Apple Color Emoji")format("svg");
}


@font-face {
  font-family: "Noto Color Emoji";
  src: url("./assets/fonts/NotoColorEmoji-Regular.ttf");

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif, 'Apple Color Emoji', 'Noto Color Emoji';
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: subpixel-antialiased;
}

h1, h2 {
  text-shadow: 2px 2px var(--antiheader);
}

.alert-danger {
  color: red;
  width: 220px;
  font-size: 14px;
}

.align-right {
  text-align: right;
}

.bolder {
  font-weight: 900;
}

.error {
  color: red;
}

.success {
  color: green;
}

.number-top, .emoji-top {
  padding: 0.2em 0.6em;
}

